.challenges-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
    font-family: "Miracles Autom", sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 24px;
  }
  
  .challenges-container h1 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
    color: #7177cc;
  }
  
  .intro-description {
    font-size: 1.2rem;
    font-weight: normal;
    color: #000000;
    line-height: 1.6;
    margin-bottom: 3rem;
    font-weight: bold;
  }
  
  .challenge-card {
    background-color: #f4f6f8;
    padding: 1.5rem;
    border-left: 5px solid #7177cc;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  .challenge-card:hover {
    background-color: #eaf2f8;
  }
  
  .challenge-card h3 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: #000000;
  }
  
  .challenge-card p {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: normal;
    color: #000000;
  }
  .back-to-top-button {
    margin-top: 2rem;
    padding: 10px 20px;
    background-color: #2d2e2e;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bolder;
  }
  
 
  